body {
    color: #181717; 
    font-family: Arial;
    background-color:lavenderblush;
    
}
h1, h2, h3, h4, h5, h6 {
    color: #A4A400; 
    background-color: #F0F0F0;
    text-decoration: underline;
}
ul {
    list-style-image: url('pie_bullet.png') ;
    p {
        background-color: khaki;
        font-family:'Times New Roman', Times, serif
    }
}

ol {
    p {
        font-family: monospace
    }
}

a {
    color:#A4A400;
}

li {list-style-image: url('pie_bullet.png')}